annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
build==1.4.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
docutils==0.22.4
fastapi==0.120.0
h11==0.16.0
humanfriendly==10.0
id==1.6.1
idna==3.11
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.1
jaraco.functools==4.4.0
keyring==25.7.0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.8.0
nh3==0.3.3
packaging==26.0
pluggy==1.6.0
pydantic==2.12.3
pydantic_core==2.41.4
Pygments==2.19.2
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pytest==8.3.4
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.2.0
setuptools==82.0.1
starlette==0.48.0
twine==6.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.38.0
xmltodict==0.14.2
